
  function largeNumber(num,point){
    var numStr=num+''.split('.')[0]
    if(numStr.length<6){
      return numStr
    }else if(numStr.length>=6 && numStr.length<=8){
      var decimal=numStr.substring(numStr.length-4,numStr.length-4+point)
      return parseFloat(parseInt(num/10000)+'.'+decimal)+'万'
    }else if(numStr>8){
      var decimal=numStr.substring(numStr.length-8,numStr.length-8+point)
      return parseFloat(parseInt(num/100000000)+'.'+decimal)+'亿'
    }
  }
  // 保留两位小数（input书写）
function toFixed(value) {
  return parseFloat(value).toFixed(2)
}
module.exports = {
  largeNumber: largeNumber,
  toFixed:toFixed,
  setImgUrl: "https://www.chinamas.cn",
  networkImgUrl:'https://www.chinamas.cn',
 
};